body {
  margin: 0%;
  display: flex;
  flex-direction: column;
  font-family: Roboto, "Open Sans", "Helvetica Neue", sans-serif;
}

.footer {
  background-color: #1f2937;
  display: flex;
  justify-content: center;
  color: #e5e7eb;
  padding: 36px 0px;
  font-size: 18px;
}
